#playlist-view {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: t;
}

#playlist-table thead th:hover {
    cursor: default;
}

#playlist-table thead tr th span:hover {
    cursor: pointer;
}

.playlist-message {
    color: red;
}

#playlist-table tr td:first-child:hover {
    cursor: pointer;
    color: rgb(122, 214, 122);
}

#playlist-table {
    width: 100%;
}

#playlist-table tbody tr:nth-child(even) {
    background-color: rgb(115, 115, 115);
}

#playlist-table thead {
    background-color: rgb(115, 115, 115);
}

#playlist-table td,
#playlist-table th,
#playlist-table tr {
    padding: 10px 15px 10px 15px;
    text-align: center;
    color: white;
}

#playlist-table thead tr:hover {
    cursor: pointer;
}

#playlist-toast {
    display: none;
    background-color: rgb(122, 214, 122);
    justify-content: center;
}

#playlist-summary {
    color: white;
    font-size: larger;
    text-align: center;
}

.sorted {
    color: rgb(122, 214, 122);
}

#clearPlaylist {
    height: 50px;
    width: 200px;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    border-radius: 7px;
    color: white;
    border: 3px solid rgb(122, 214, 122);
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#clearPlaylist:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-color: blueviolet;  
}


#removeBtn {
    height: 30px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    color: white;
    border: 3px solid rgb(122, 214, 122);
    cursor: pointer;
}

#removeBtn:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-color: blueviolet;
}




